concurrent_login_limit {
  if ("%{sql:SELECT COUNT(radacctid) FROM radacct \
       WHERE AcctStopTime IS NULL \
       AND UserName = '%{SQL-User-Name}'}" \
      >= "{% raw %}%{%{Simultaneous-Use}:-{% endraw %}{{ default_simultaneous_use }}{% raw %}}{% endraw %}") {
    reject
  }
}
